<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <title>Welcome to Cuddle Puddle</title>

</head>
<body>
<!-- This page will have the Cuddle Puddle Logo in it and will be the first page to the domain.
it will link to the home page by clicking the logo.....

For Accessibility a description of the logo would be cool/-->


<a href = "HomePage.html">
    <img src = "Images/cuddlePuddleLogo.png"
         height = "480"
         Width = "480"
         alt = "Cuddle Puddle Logo">
</a>
<h1>Enter Now</h1>
</body>
</html>