<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
    <title>About Us</title>

</head>
<body>
<!-- This page will be about the company Cuddle Puddle with our mission Statement and Where we plan on heading Eventually it will
also include a upcoming events portion.  /-->
<img src = "images/cuddlePuddleLogo.png"
     height = "280"
     Width = "280"
     alt = "Cuddle Puddle Logo">
<h1>About Us </h1>


<br>
<br>


<fieldset>
    <a href = "HomePage.html" class="button">Home Page</a>
    <a href = "BathProducts.html" class="button">Bath Products</a>
    <a href = "ArtProjects.html" class="button">Art Projects</a>
    <a href = "ContactUs.html" class="button">Contact Us</a>
</fieldset>
</body>
</html>