<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- This page will be about My art Projects. It will rely mostly on SQL and make a photo documentation of work I have done
as well as how many Items are in my inventory as well as a link to my etsy page. /-->
<img src = "images/cuddlePuddleLogo.png"
     height = "280"
     Width = "280"
     alt = "Cuddle Puddle Logo">
<h1>Art Projects </h1>
<h2>Product Categories</h2>
<ul>
    <li>
        <h3>Resin Art</h3>
        <ul>
            <li>Trays</li>
            <li>Necklaces</li>

        </ul>
    </li>
    <li>
        <h3>Glass Etching</h3>
        <ul>
            <li>Mummies</li>
            <li>Swamp Witch</li>


        </ul>
    </li>
    <li>
        <h3>Apparel</h3>
        <ul>
            <li>Meditating Ghost Shirt</li>
            <li>Anarchy Ghost Shirt</li>


        </ul>
    </li>
    <li>
        <h3>Stickers</h3>
        <ul>
            <li>Mummies Sticker</li>
            <li>Meditating Ghost Sticker</li>
            <li>Anarchy Ghost Sticker</li>


        </ul>
    </li>
    <li>
        <h3>Other</h3>
        <ul>
            <li>Flirtation Cards</li>
            <li>Ornaments</li>


        </ul>
    </li>





</ul>
<br>
<br>
<fieldset>
    <a href = "HomePage.html" class="button">Home Page</a>
    <a href = "About.html" class="button">About Us</a>
    <a href = "BathProducts.html" class="button">Bath Products</a>
    <a href = "ContactUs.html" class="button">Contact Us</a>
</fieldset>


</body>
</html>